@page
@model TicketOffice.Pages.Auth.LoginModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Login";
}

<link rel="stylesheet" href="~/css/Auth.css" asp-append-version="true" />

<div class="wrapper">
    <form class="auth-form" method="post">
        <div class="header">
            Login
        </div>

        <input class="field" type="text" placeholder="E-mail" autocomplete="off" asp-for="User!.Email" />
        <div class="validation-error">
            <span>@Model.EmailValidationError</span>
        </div>
        <br>

        <input class="field" type="password" placeholder="Password" autocomplete="off" asp-for="User!.Password" />
        <div class="validation-error">
            <span>@Model.PasswordValidationError</span>
        </div>
        <br>

        <input class="submit-btn" type="submit" value="Log in" />

        <div class="hint">
            Don't have an account?
            <a href="/Auth/Registration" class="link">Sign in</a>
        </div>
    </form>
</div>