@page
@model TicketOffice.Pages.IndexModel
@{
    ViewData["Title"] = "Main";
}

<link rel="stylesheet" href="~/css/Index.css" />

<div class="background">
    <div class="background-shadow"></div>
    <div class="title-block">
        <div class="title-header">
            BusRoutesBuddy - Search for bus routes
        </div>
        <div class="title-footer">
            <a class="link-btn" href="/Routes">Find a ride</a>
        </div>
    </div>
</div>